!.vscode/extensions.json
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.DS_Store
.env
.env*
.idea
.next/
.pnp.*
.pnpm-debug.log*
.vercel
.vscode/*
.yarn/*
*.local
*.log
*.njsproj
*.ntvs*
*.pem
*.sln
*.suo
*.sw?
*.tsbuildinfo
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
dist
dist-ssr
lerna-debug.log*
logs
next-env.d.ts
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*